.container{
    
}
.content{
    display: flex;
    align-items: center;
    gap: 100px;
}

.title {
    font-size: 60px;
    margin-bottom: 100px;
    text-align: center;
  }

.imgContainer{
    flex: 1;
    height: 600px;
    position: relative;
}

.form{
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.input, .textArea{
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    color: #bbb;
    border: 3px solid #bbb;
    font-size: 20px;
    font-weight: bold;
}

.image{
    object-fit: contain;
    animation: move 3s infinite ease alternate;
}

@keyframes move {
    from{
        transform: translateY(-15px);
    }
    to{
        transform: translateY(0px) scale(1.03) ;
    }
}